<form
  [formGroup]="myForm"
  (submit)="addArticle(myForm.value)"
  class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title"
      [formControl]="title"
      required>
    <p [hidden]="title.valid || title.pristine">Title is required</p>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link"
      [formControl]="link"
      required>
    <p *ngIf="link.hasError('required') && link.touched">Link is required</p>
    <p *ngIf="link.hasError('invalidLink') && link.dirty">Link is invalid</p>
  </div>

  <button class="ui positive right floated button">
    Submit link
  </button>

</form>

<div class="ui grid posts">
  <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article">
  </app-article>
</div>
